* {
    padding: 0;
    margin: 0;
}

.formBox {
    background-image:
     linear-gradient(to right bottom, #340151, #491874, #5c2f9a, #6e46c2, #7d5fec);
    color: silver;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form input{
    padding: 15px 10px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

input[type=submit] {
    cursor: pointer;
}

form h3{
    text-align: center;
}

.iconBox {
    text-align: center;
}

svg {
    height: 60px;
    width: 60px;
    cursor: pointer;
}