* {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.formBox {
    background-image:
     linear-gradient(to right bottom, #340151, #491874, #5c2f9a, #6e46c2, #7d5fec);
    color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form h3{
    text-align: center;
}

.inputBox {
    flex: 1;
}

.inputBox input, textarea{
    padding: 10px 5px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
}

input[type=submit] {
    cursor: pointer;
    transition: .4s;
}

input[type=submit]:hover {
    background-color: gold;
    color: indigo;
}

.iconBox {
    text-align: center;
}

svg {
    height: 40px;
    width: 40px;
    padding: 20px;
    cursor: pointer;
    opacity: .5;
    transition: .4s;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
}

svg:hover {
    opacity: 1;
    border-color: gold;
}

nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: indigo;
    padding: 10px;
    padding-right: 30px;
    box-sizing: border-box;
    border-right: 2px solid silver;
}

.navIcon {
    display: flex;
    align-items: center;
    color: white;
}

.allPostPage {
    margin-left: 200px;
    min-height: 100vh;
    background-image:
     linear-gradient(to right bottom, #340151, #491874, #5c2f9a, #6e46c2, #7d5fec);

     display: flex;
     flex-wrap: wrap;

}

.newPostPage {
    margin-left: 200px;
    height: 100vh;

    background-image:
     linear-gradient(to right bottom, #340151, #491874, #5c2f9a, #6e46c2, #7d5fec);

    display: flex;
    justify-content: center;
    align-items: center;
}

.postBox {
    margin: 20px 10px;
    padding: 20px;

    background-color: gold;
    width: 400px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border-top-left-radius: 0;
}

.postTitle {
    padding-bottom: 5px;
}

.postDetails {

    display: flex;
    justify-content: space-between;

    font-size: 12px;

    border-top: 1px solid black;
    padding-bottom: 5px;
}

.postBody {
    margin-top: 10px;
}

.postDel {
    background-color: red;
    width: 120px;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;

    transition: 0.4s;
}

.postDel:hover {
    width: 140px;
}

/* data.map(post => {
    <CreatePost 
        title={post.title}
        user={post.user_id}
        date={post.created_at}
        body={post.body}
    />
}) */